<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGEA | Iniciar Sesión</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    
    <div class="login-container">

        <div class="login-card">

            <div class="logo-container">
                <image src="../static/img/logo_sigea.png" alt="SIGEA">
            </div>

            <h1>Bienvenido</h1>
            <p class="subtitle">
                Sistema de Gestión de Espacios Académicos
            </p>

            <form>

                <div class="input-group">
                    <label>Correo Institucional</label>
                    <input
                        type="email"
                        placeholder="ejemplo@upsrj.edu.mx"
                    >
                </div>

                <div class="input-group">
                    <label>Contraseña</label>
                    <input
                        type="password"
                        placeholder="Ingresa tu contraseña"
                    >
                </div>

                <button type="submit" class="btn-login">
                    Ingresar
                </button>

            </form>
        </div>
    </div>

</body>
</html>