<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGEA | Iniciar Sesión</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    
    <div class="login-container">

        <div class="login-card">

            <div class="logo-container">
                <image src="../static/img/logo_sigea.png" alt="SIGEA">
            </div>

            <h1>Bienvenido</h1>
            <p class="subtitle">
                Sistema de Gestión de Espacios Académicos
            </p>

            <form action="/login" method="POST">

                <div class="input-group">
                    <label>Correo Institucional</label>
                    <input
                        type="email" name="correo" placeholder="ejemplo@upsrj.edu.mx" required>
                </div>

                <div class="input-group">
                    <label>Contraseña</label>
                    <input
                        type="password" name="contrasena" placeholder="Ingresa tu contraseña" required>
                </div>

                {% if error %}
                    <p style="color: red; text-align: center; margin-bottom: 10px; font-size: 14px;">{{ error }}</p>
                {% endif %}

                {% if success %}
                    <div style="background: #d4edda; color: #155724; padding: 10px; border-radius: 4px; margin-bottom: 20px; font-size: 14px; border: 1px solid #c3e6cb;">
                    {{ success }}
                    </div>
                {% endif %}

                <button type="submit" class="btn-login">
                    Ingresar
                </button>

                <div style="margin-top: 15px; text-align: right;">
                    <a href="{{ url_for('auth.olvide_contrasena') }}" style="color: #2AB7CA;; text-decoration: none; font-size: 13px;">¿Olvidaste tu contraseña?</a>
                </div>

            </form>
        </div>
    </div>

</body>
</html>